body {
  color: #244D4D;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.6875;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.header {
  padding: 2.5em 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.header__inner {
  width: 86.4864864865%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.header__logo {
  font-size: 1.625rem;
  font-weight: bold;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  font-size: 1rem;
  margin-left: 1.875em;
  line-height: 1.6875;
  color: #244D4D;
}
.nav__active {
  text-decoration: underline;
}

.post {
  padding: 1.5625em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 740px) {
  .post {
    width: 47%;
  }
}
.post__title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1.0416666667em;
}
.post__img {
  width: 200px;
  aspect-ratio: 200/120;
  -o-object-fit: cover;
     object-fit: cover;
}
.post__box {
  aspect-ratio: 420/99;
  flex: 1;
  padding-left: 1.25em;
}

.card {
  text-align: center;
  padding: 2.8125em;
  background-color: #F4F4F4;
}
.card__img {
  -o-object-position: center bottom;
     object-position: center bottom;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 5/3;
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  object-position: center bottom;
}
.card__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.card__text {
  padding: 0.9375em 1.875em;
}

.btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3.75em auto 0;
  padding: 18px 40px;
  border-radius: 10px;
  background-color: #244D4D;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 1;
}

.top {
  padding: 15.625em 3.75em;
  background-image: url(../images/bg_hero.png);
}
.top__inner {
  width: 86.4864864865%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.top__text {
  max-width: 30em;
  padding: 4.0625em 3.75em;
  background-color: rgba(255, 255, 255, 0.6);
}
.top p {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2083333333;
}

.about {
  padding-top: 5em;
}
.about__inner {
  width: 86.4864864865%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.about__title {
  font-size: 3rem;
  font-weight: bold;
  border-bottom: solid 2px #244D4D;
}
.about__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 740px) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -3.125em;
  }
}

.products {
  padding: 6.25em 0;
}
.products__inner {
  width: 86.4864864865%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.products__title {
  font-size: 3rem;
  font-weight: bold;
  border-bottom: solid 2px #244D4D;
}
.products__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -3.125em;
}
.products__item {
  width: 46.875%;
  margin-bottom: 3.125em;
}
@media screen and (min-width: 740px) {
  .products__item {
    width: 30%;
  }
}

/* footer */
.footer {
  padding: 7.5em 0;
  background-color: #244D4D;
  color: #fff;
}
.footer__inner {
  width: 86.4864864865%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 740px) {
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
}
.footer__title {
  margin-bottom: 1.0416666667em;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2083333333;
}
.footer__navall {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3.75em;
}
@media screen and (min-width: 740px) {
  .footer__navall {
    margin-bottom: 0;
  }
}
.footer__nav {
  width: 46.875%;
}
@media screen and (min-width: 740px) {
  .footer__nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 3.75em;
  }
}
.footer__item {
  margin-top: 0.9375em;
}
.footer__info {
  max-width: 15.625em;
}
.footer__info .footer__title {
  margin-bottom: 1.6666666667em;
}
.footer__copy {
  display: inline-block;
  margin-top: 1.6666666667em;
  font-size: 0.75rem;
  line-height: 1.6666666667;
}
/*# sourceMappingURL=style.css.map */