@charset "utf-8";

body {
    color: #000;
    font-family: "Times New Roman",
        "YuMincho",
        "Hiragino Mincho ProN",
        "Yu Mincho",
        "MS PMincho",
        serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.025em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.inner {
    max-width: 1140px;
    width: 90.625%;
    margin-left: auto;
    margin-right: auto;
}

/* header */
h1 {
    font-family: Times New Roman;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

header .top {
    padding-bottom: 100px;
    background-color: #fff;
    position: relative;
}

header .text {
    position: absolute;
    top: 180px;
    left: 0px;
    background-color: #fff;
}

header p {
    padding: 40px 40px 30px;
    font-size: 18px;
    font-family: Times New Roman;
}

header h2 {
    padding: 0 40px 40px;
    font-size: 36px;
}

header img {
    height: 586px;

}

/* main */

main p {
    font-size: 14px;
}

.kumon {
    text-align: center;
    width: 194px;
    color: #fff;
    background-color: #72C9F3;
}

h3 {
    text-align: center;
    padding: 25px 0 20px;
    font-size: 36px;
    border-bottom: #000 1px solid;

}

article {
    margin: 50px;
}

article .position {
    position: relative;
}

article p {
    position: absolute;
    top: 200px;
    left: 5px;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);

}

article a {
    padding: 5px 10px 5px;
    background-color: #F5F5F5;
}

article ul {
    padding-top: 20px;
}

/* footer */

footer {
    text-align: center;
    color: #fff;
    background-color: #000;
}

footer .about {

    padding: 20px;
    display: flex;
}

footer .line {
    border-bottom: #fff 1px solid;
}

footer .name {
    padding-right: 50px;
}

small {
    padding: 100px;
    font-size: 12px;
}



@media (min-width:640px) {

    /* header */
    header .text {
        left: 60px;
    }

    /* main */
    main section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}