body {
  color: #404040;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* header */
.header {
  padding: 40px 0;
}
.header__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* footer */
.footer {
  padding: 40px 0;
  background-color: #EDEFF2;
}
.footer__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__copy {
  margin-top: 25px;
  font-size: 12px;
  line-height: 1.5;
}
@media screen and (min-width: 800px) {
  .footer__copy {
    margin-top: 0;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  margin-left: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
}
.nav__active {
  color: #985E5B;
}

.post__pic {
  margin-bottom: 30px;
  position: relative;
}
.post__number {
  display: inline-block;
  background-color: #985E5B;
  color: #fff;
  position: absolute;
  top: 10.5263157895%;
  left: 7.8947368421%;
  width: 16.6666666667%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post__text {
  margin-bottom: 50px;
}
.post__text:last-child {
  margin-bottom: 0;
}
.post .btn {
  margin-top: auto;
}
@media screen and (min-width: 640px) {
  .post .btn {
    width: 100%;
  }
}

.btn {
  display: block;
  width: 300px;
  margin-top: 50px;
  padding: 18px;
  background-color: #985E5B;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .mobile {
    display: none;
  }
}

/* index.html
-----------------------*/
/* visual */
.visual {
  margin-bottom: 100px;
  padding: 400px 0 100px;
  background: url(../images/pic_main.png) no-repeat center/cover;
  color: #fff;
  text-align: right;
}
.visual__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.visual__title {
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.1904761905;
}
@media screen and (min-width: 800px) {
  .visual__title {
    font-size: 50px;
    line-height: 1.2;
  }
}
.visual__lead {
  font-size: 18px;
  line-height: 1.2222222222;
}

/* contents */
.contents__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .contents__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* services */
.services {
  margin-bottom: 100px;
}
@media screen and (min-width: 800px) {
  .services {
    width: 58.3333333333%;
  }
}
.services__title {
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
}
.services__list {
  margin-bottom: -80px;
}
@media screen and (min-width: 640px) {
  .services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}
.services__item {
  margin-bottom: 80px;
}
@media screen and (min-width: 640px) {
  .services__item {
    width: 47.1428571429%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}

/* information */
.information {
  margin-bottom: 100px;
}
@media screen and (min-width: 800px) {
  .information {
    width: 33.3333333333%;
  }
}
.information__title {
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
}
.information__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}
.information__term {
  width: 92px;
  margin-right: 30px;
  padding: 8px 12px;
  border-right: 2px solid;
  border-bottom: 1px solid;
  color: #985E5B;
  font-weight: bold;
  text-align: right;
}
.information__desc {
  flex: 1;
  overflow-wrap: anywhered;
}

.concept {
  margin: 60px 0 100px;
  text-align: center;
}
.concept__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.concept__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 60px;
  padding-bottom: 15px;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.1904761905;
  border-bottom: 4px #985E5B solid;
}
@media screen and (min-width: 800px) {
  .concept__title {
    font-size: 50px;
    line-height: 0.8333333333;
  }
}
.concept__text {
  max-width: 754px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 36px 18p;
}
.concept span {
  display: inline-block;
}

.floor {
  margin-bottom: 100px;
}
.floor__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.floor__title {
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
}
@media screen and (min-width: 800px) {
  .floor__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: -80px;
  }
}
.floor__item {
  margin-bottom: 80px;
}
@media screen and (min-width: 800px) {
  .floor__item {
    width: 31.6666666667%;
  }
}
.floor__item img {
  width: 100%;
  aspect-ratio: 560/315;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 800px) {
  .floor__item img {
    aspect-ratio: 380/285;
  }
}

.footer__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=style.css.map */